.navSignup {
  margin-left: 4px !important;
}

.navLogin {
  margin-left: 4px !important;
}

/* ////////////////////////////////////////////////// */
/* NAV BRAND  */
/* ////////////////////////////////////////////////// */

.NavBarMainContainer {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  padding: 4px !important;
  background-color: #010101;
}

.NavBrandContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 16px !important;
  grid-gap: 0.7rem !important;
  gap: 0.7rem !important;
}

.NavBrandContainer i {
  font-size: 2.6rem !important;
  vertical-align: middle;
  color: #fff;
}

.NavBrandContainer i:hover {
  color: #009dae;
  transform: rotate(28deg);
  transition: color transform 0.15s ease;
}

.NavBrandContainer span {
  font-size: 2.2rem !important;
  font-weight: 600;
  font-family: 'Lobster', cursive;
}

.brandText {
  color: white;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
  background-clip: text;
  -webkit-background-clip: text;
}

.brandText:hover {
  color: transparent;
  transition: 500ms ease;
}

/* ////////////////////////////////////////////////// */
/* SEARCH EMOJI + PROFILE + LOGOUT BUTTON  */
/* ////////////////////////////////////////////////// */

.NavProfileContainer {
  padding: 8px 8px 8px 8px !important;
}

.NavProfileImage {
  width: 40px !important;
  height: 40px !important;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
  border: #fff solid 3px !important;
  transition: 1s ease;
}

.NavProfileImage:hover {
  transform: scale(0.8);
  transition: 1s ease;
}

/* SEARCH EMOJI */
.NavSearchEmoji {
  font-size: 36px !important;
  padding: 0px 8px 0px 16px !important;
  cursor: pointer;
  transition: 1s ease;
}

.NavSearchEmoji:hover {
  transform: scale(0.8);
  transition: transform 1s ease;
}

.SearchModalTitle {
  font-size: 36px !important;
}

/* ////////////////////////////////////////////////// */
/* SEARCH MODAL */
/* ////////////////////////////////////////////////// */

.UserSearchImage {
  width: 100% !important;
  height: 19vw !important;
  -o-object-fit: cover;
  object-fit: cover;
}

.UserSearchUsername {
  font-size: 24px !important;
}

/* ////////////////////////////////////////////////// */
/* MEDIA QUERIES */
/* ////////////////////////////////////////////////// */
@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1023px) {
  .SearchModalTitle {
    font-size: 32px !important;
  }
}

@media only screen and (max-width: 767px) {
  .UserSearchImage {
    height: 17vw !important;
  }

  .UserSearchUsername {
    font-size: 22px !important;
  }

  .SearchModalTitle {
    font-size: 30px !important;
  }
}

@media only screen and (max-width: 500px) {
  .NavSearchEmoji,
  .NavProfileImage {
    margin-left: 20px !important;
  }

  .NavLogoutBtn {
    margin-left: 12px !important;
  }

  .NavSearchEmoji:hover {
    transform: scale(0.8) translate(-50px, 0px);
    transition: 1s ease;
  }

  .navSearchForm {
    padding: 10px !important;
  }

  .navProfile {
    margin-left: 12px !important;
    margin-top: 6px !important;
  }

  /* SEARCH */

  .SearchModalTitle {
    font-size: 20px !important;
  }

  .UserSearchImage {
    width: 100% !important;
    height: 19vw !important;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .UserSearchUsername {
    font-size: 9px !important;
  }
}
